<div class="spittleForm">
    <h1>Spit it out...</h1>
    <form method="post" name="spittleForm">
        <input type="hidden" name="latitude"/>
        <input type="hidden" name="longitude"/>
        <textarea name="message" cols="80" rows="5"></textarea>
        <br/>
        <input type="submit" value="Add"/>
    </form>
</div>
<div class="listTitle">
    <h1>Recent Spittles</h1>
    <ul class="spittleList">
        {{#spittleList}}
            <li id="spittle_{{id}}">
                <div class="spittleMessage">{{message}}</div>
                <div>
                    <span class="spittleTime">{{time}}</span>
                    <span class="spittleLocation">({{latitude}}, {{longitude}})</span>
                </div>
            </li>
        {{/spittleList}}
    </ul>
</div>