<h1>Register</h1>
<form method="post">
    <div class="errors">
        <ul>
            {{#customerErrors}}
            <li>{{value}}</li>
            {{/customerErrors}}
        </ul>
    </div>
    <label>First Name</label>: <input type="text" name="firstName" value="{{spitter.firstName}}"/><br/>
    <label>Last Name</label>: <input type="text" name="lastName"  value="{{spitter.lastName}}"/><br/>
    <label>User Name</label>: <input type="text" name="userName"  value="{{spitter.userName}}"/><br/>
    <label>Password</label>: <input type="password" name="password" value="{{spitter.password}}"/><br/>
    <input type="submit" value="Register"/>
</form>